$breakpoint-grid-sm: 576px;
$breakpoint-grid-md: 768px;
$breakpoint-grid-lg: 1024px;
$breakpoint-grid-xl: 1200px;

$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 1023px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1800px;



// $darkPurpleColor: #5C2ECE;
// $purpleColor: #8041F9;
$whiteColor: #ffffff;
$defaultText: #333333;
$lightGrey: #F6F6F6;
$blackColor: #000000;
$lightBlue: #009ADE; 
$darkBlue: #014F82;
$yellowColor: #E8D766;