@import "../abstracts/mixins";
@import "../abstracts/variables";

.btn {
  font-size: 18px;
  line-height: 1;
  padding: 8px;
  @include transition(.3);
  border: 2px solid transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 160px;
  min-height: 46px;
  font-weight: 400;
  border-radius: 23px;
  cursor: pointer;  
  @media (max-width: $breakpoint-lg) {
    min-width: 146px;
    min-height: 40px;
    font-size: 16px;
  }
  &-primary {
    background: $lightBlue;
    border-color: $lightBlue;
    color: $whiteColor;
    &:hover {
      background: $whiteColor;
      color: $lightBlue;
    }
  }
  &-secondary {
    background: transparent;
    color: $whiteColor;
    border-color: $whiteColor;
    &:hover {
      color: $lightBlue;
      background: $whiteColor;
    }
  }
  &-link {
    color: $lightBlue;
    background: none;
    border: none;
    border-bottom: 1px solid $darkBlue;
    font-size: 16px;
    line-height: 1.3;
    display: inline-block;
    cursor: pointer;
    position: relative;
    @include transition(.3);
    &:hover {
      border-color: transparent;
    }
  }
}

.contact-us-btn {
  font-weight: 700;
  display: inline-block;
  line-height: 1.1;
  border-bottom: 1px solid $darkBlue;
  color: $darkBlue;
  @include transition(.3);
  &:hover {
    border-color: transparent;
  }
}