@import "../abstracts/mixins";
@import "../abstracts/variables";


.line {
  width: 100%;
  background: #D8D8D8;
  height: 1px;
  margin: 30px 0;
  @media (max-width: $breakpoint-lg) {
    margin: 20px 0;
  }
  &.--search-profile {
    margin: 25px 0 50px 0;
  }
  &.--experts__item_separator {
    width: unset;
    margin: 50px 15px;
  }
  &.--expert {
    margin: 56px 15px;
    width: unset;
    @media (max-width: $breakpoint-md) {
      margin: 35px 0;
    }
  }
}